.config/emacs/eln-cache/30.2-d3a47193
.config/emacs/elpa
.config/emacs/eshell
.config/emacs/multisession/files/emoji
.config/emacs/transient
.config/emacs/undotree
.config/emacs/history
.config/emacs/places
.config/emacs/recentf
.config/emacs/tramp
.config/emacs/projects
.config/emacs/tree-sitter
.config/emacs/.cache/lsp/npm/yaml-language-server
.config/emacs/.lsp-session
